# Python virtual environments
.venv/
venv/
env/
med_rag/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs and system files
*.log
.DS_Store
Thumbs.db
