sqlalchemy
psycopg2-binary
pgvector
alembic
python-dotenv
asyncpg
numpy
pydantic-settings
fastapi
uvicorn[standard]
python-multipart
cohere
PyMuPDF
langchain-text-splitters
google-genai
groq
streamlit
httpx
openai
langdetect
